.navBar {
    position: fixed;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: white;
    z-index: 100;
}

.search-container {
  display: flex;
  flex-direction: column;
  position: relative;  
  align-items: center;
}

.search-results {
  position: absolute;
  top: 100%;       
  left: 0;        
  right: 0;        
  width: 100%;     
  background-color: black;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;

}
/*
.navBar {
    position: fixed;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: white;
    z-index: 100;
    
}

.search-container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
*/
/*
.search-results {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);  
  width: 250px;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.search-results {
  position: absolute;
  top: 100%;
  width: 250px;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
*/

.search-input::-webkit-search-cancel-button {
    filter: invert(1);  /* makes it black or white depending on original */
}

.search-input {
    position: fixed;
    border-radius: 5px;
    border: 0px;
    background-color: rgba(117, 91, 168, 0.635);
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    
    width: 400px;
    height: 40px;
    top: 20px;
    left: 50%;              
    transform: translateX(-50%);
    
}




/* HAMBURGER */

.left_hamburger {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
}

.sidebar {
    position: fixed;
    
}

.sidebar ul {
    list-style: none;
    color: black;
    
    
}

.sidebar a:hover {
    color: #241155;
}