:root {
  --text: #010000;
  --text-h: #5f2232;
  --bg: #f7e4e4;
  --border: #502a57;
  --code-bg: #f4f3ec;
  --accent: #5f2232;
  --accent-bg: #efd6e5;
  --accent-border: #010000;
  --social-bg: #998799;
  --priority-high: #e74c3c;
  --priority-medium: #f39c12;
  --priority-low: #2ecc71;
  --on-priority: #ffffff;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: 'DM-Sans', system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: 'Fraunces', 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 50px;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
/*//font-family: var(--heading);*/
h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

/*font-family: var(--mono);*/
code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
